//typography
$ff-main: 'Manrope', sans-serif;
$fw-main: 800;
$fs-main: 28px;


//colors

//primary
$clr-light-cyan: hsl(193, 38%, 86%);
$clr-neon-green: hsl(150, 100%, 66%);

//neutral
$clr-grayish-blue: hsl(217, 19%, 38%);
$clr-dark-grayish-blue: hsl(217, 19%, 24%);
$clr-dark-blue: hsl(218, 23%, 16%);
