@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');
@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-main;
  font-weight: $fw-main;
  font-size: $fs-main;
  background-color: $clr-dark-blue;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
